body {
  margin: 0;
  background: #292f35;
  font-weight: bold;
}
  
  div {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 70px;
  color:white;
  margin-top:40px;
}

.title:hover {
  color: #80b7ed
}

.Up-box {
  background-color:  #ffffff;
  width: 850px;
  height: 120px;
  border: 2px solid rgb(255, 255, 255);
  margin-top: 50px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}
.form-box {
  display: flex;
  justify-content: space-between;
}
.form-box > div{
  padding:10px
}
.Up-box form{
  padding:20px;
}
.mb-3 {
  width:150px;
}



.input-1, .input-2, .input-3 {
  display: flex;
  flex-direction: column;
}

.form-control {
  border: 1px solid black;
}

.input-3 {
  width:250px;
  font-size: 13px;
}

.todoValue {
  border-radius: 10px;
  height:40px;
}

.todoValue:hover {
  box-shadow: 1px 1px 1px 1px grey;
}

.todoValue:focus {
  outline: none;
}

.input-4 {
  margin-top:25px;
}

form input {
  margin-top:10px;
}


.Down-box {
  display: flex;
  width:850px;
  justify-content: space-between;
}

.Down-box1 {
  background-color:#f5f5f5;
  width: 400px;
  height: 300px;
  margin-top:50px;
  border: none;
  border-radius: 20px;
  padding:20px;
  color: #292f35;
  font-weight:bolder;
  list-style-position:inside;
  list-style-type:inherit;
  display: inline-block;
}

.Down-box1 > hr {
  background-color: grey;
  height: 3px;
  width:100%;
}

.Down-box1  > ul {
  padding-left: 30px;
  display: inline-block;
}
.Down-box1  button {
  font-size:10px;
  font-weight: bolder;
  float:right;
  clear:both;
}

.Down-box1 hr {
  margin-top:-15px;
}

.Down-box1:hover, .Down-box2:hover {
  box-shadow: 1px 1px 1px 1px white;
}

.Down-box2 {
  background-color:#f5f5f5;
  width: 400px;
  height: 300px;
  margin-top:50px;
  border: none;
  border-radius: 20px;

}

.i-id {
  display: inline-block;
}


